version: '3.7'

services:

  nginx:
    ports:
      - "${PORT}:80"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro

  fastapi:
    environment:
      - LOG_LEVEL=debug
    volumes:
      - ./:/app
    command: ["/start-reload.sh"]
#    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 80 --log-level debug

#  redis:
#    ports:
#      - "6379:6379"
#
#  redisinsight:
#    ports:
#      - "8001:8001"

  postgres:
    ports:
      - "5432:5432"

  elasticsearch:
    ports:
      - "9200:9200"

  kibana:
    ports:
      - "5601:5601"

  importer:
    container_name: importer
    image: elasticdump/elasticsearch-dump
    depends_on:
      - elasticsearch
    networks: [ backend ]
    volumes:
      - "${PWD}/wlo.json.gz:/tmp/dump.json.gz"
    command:
      - /bin/bash
      - -c
      - |
        apt-get update \
        && apt-get install -y curl \
        && curl -X PUT -H "Content-Type: application/json" -d '{"index_patterns" : ["workspace"],"order" : 1,"settings" : {"index.mapping.total_fields.limit" : "2000"}}' http://elasticsearch:9200/_template/workspace 2>/dev/null | grep -q '{"acknowledged":true}' \
        && elasticdump --input=/tmp/dump.json.gz --output=http://elasticsearch:9200/workspace --fsCompress
